[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/poet"]
	path = extern/poet
	url = https://github.com/flatironinstitute/poet.git
